.signupWrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 17em;
    flex-direction: column;
    background-color: darkgoldenrod;
}

.buttons {
    display: flex;
    justify-content: space-between;
    padding: 1px;
}
