.navLight {
  display: flex;
  background-color: var(--darkBlue);
  color: var(--cream);
  justify-content: space-evenly;
  width: 100vw;
  overflow: hidden;
}
.navLight a {
  display: flex;
  align-content: center;
  padding: 0.3rem;
  border-radius: 50%;
  overflow: hidden;
}

.activeLight {
  background-color: var(--cream);
}
.activeDark {
  background-color: var(--darkBlue);
}

.navDark {
  display: flex;
  background-color: var(--cream);
  color: var(--darkBlue);
  justify-content: space-evenly;
  width: 100vw;
}

.navDark a {
  display: flex;
  align-content: center;
  padding: 0.3rem;
  border-radius: 50%;
}

.navIcon {
  fill: var(--cream);
  stroke: var(--cream);
}
