.navLight {
    display: flex;
    top: 0;
    align-items: center;
    background-color: var(--darkBlue);
    color: var(--cream);
    justify-content: space-evenly;
    height: 4em;
    width: 100vw;
    overflow: hidden;
}
.navDark {
    display: flex;
    position: fixed;
    align-items: center;
    background-color: var(--cream);
    color: var(--darkBlue);
    justify-content: space-evenly;
    height: 4em;
    width: 100vw;
}

.modeButton {
    background-color: none;
    
}
