@import url('https://fonts.googleapis.com/css2?family=Buda:wght@300&display=swap');

.logoDescription {
    font-family: 'Buda', cursive;
    text-align: center;
}

.loginPageContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logoContainer {
    padding: 1em;
    height: 30em;
}

.form {
    background-color: var(--darkBlue);
    max-width: 20em;
    height: 26em;
    padding: 1em;
    width: 20em;
    border: solid 1px var(--cream);
    border-radius: 4px;
}

.loginSignup {
    text-align: center;
    margin-top: 2em;
}

@media (max-width: 750px) {
    .loginPageContainer {
        flex-direction: column;
    }
    .logoContainer {
        height: 10em;
    }
}
