.addButton {
    margin-top: 0.4em;
    border-radius: 10px;
    padding: 7px;
    border: none;
    background-color: var(--cream);
    color: var(--darkBlue);
}

.addButton:hover {
    background-color: var(--cream);
}

.addButton:active {
    background-color: var(--cream);
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}
