.taskboard {
    background: #f5f0e669;
    height: auto;
    width: 100%;
    padding: 30px;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.151);
    margin-bottom: 1rem;
}
