:root {
    --darkBlue: #0a2342;
    --cream: #fdf7ec;
}
html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.backBtn {
    text-align: center;
}

#fitness {
    background: #f58452;
}

#recipe {
    background: #0f7173;
}

#Wellbeing {
    background: #9996d9;
}
#myGoals {
    background: #9ad175;
}

.fitnessbg {
    background-color: #f58452;
    color: #fff;
    margin: 5% 20% 5% 20%;
    border-radius: 30px;
    text-align: center;
    padding: 15px;
}

.recipesbg {
    background-color: #0f7173;
    color: #fff;
    margin: 5% 20% 3% 20%;
    border-radius: 30px;
    text-align: center;
    padding: 15px;
}

.searchContainer {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    margin-top: 1.5%;
}

.resultsContainer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    margin-top: 1.5%;
}

.recipeCard {
    max-width: 100%;
    background-color: #0f7173;
    color: var(--cream);
}

.calendarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 2em;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}