.container {
    /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "Taskboard Progress-Bar"; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.iconContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.taskboard {
    width: 50%;
}

@media screen and (max-width: 900px) {
    .container {
        /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.30fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: column;
    grid-template-areas:
      "Taskboard"
      "Progress-Bar"
      ; */
        display: flex;
        align-items: center;
    }
    .taskboard {
        /* grid-area: Taskboard; */
        width: 80%;
    }
}

.modalStyle {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: var(--cream);
    border: 2px solid var(--darkBlue);
    box-shadow: 24;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 20px;
}

.modalInput input{
    border-radius: 3px;
    height: 35px;
    text-align: center;
    border: 1px solid var(--darkBlue);
    color: var(--darkBlue);
    background-color: var(--cream);
    margin: 0;
    margin-bottom: 0.2em;
}

.modalBackButton {
    background: none;
    color: var(--darkBlue);
    margin-right: 1.5em;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.buttons {
    justify-content: space-between;
    margin: 1em;
    margin-left: 1.2em;
    /* margin-top: 2em; */
}
