.container {
    /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "Taskboard Progress-Bar"; */
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}
.modeButton {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

.taskboard {
    /* grid-area: Taskboard; */
    width: 50%;
}

.progressBar {
    width: 50%;
}

@media screen and (max-width: 900px) {
    .container {
        /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.30fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: column;
    grid-template-areas:
      "Taskboard"
      "Progress-Bar"
      ; */
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .taskboard {
        /* grid-area: Taskboard; */
        width: 80%;
    }
    .progressBar {
        /* grid-area: Progress-Bar; */
    }
}
